<div class="resident-form" ng-show="addNewResident">

	<div class="row resident-form-row">

		<h3>Add New Resident</h3>
	
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">First Name</span>
				<input type="text" placeholder="First Name" class="form-control" ng-model="newResident.firstName">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Last Name</span>
				<input type="text" placeholder="Last Name" class="form-control" ng-model="newResident.lastName">
			</div>
		</div>

		<div class="col-sm-6 row-top-buffer">
			<div class="input-group">
				<span class="input-group-addon">Profession</span>
				<input type="text" placeholder="Profession" class="form-control" ng-model="newResident.profession">
			</div>
		</div>

		<div class="col-sm-6 row-top-buffer">
			<div class="input-group">
				<span class="input-group-addon">Age</span>
				<input type="text" placeholder="Age" class="form-control" ng-model="newResident.age">
			</div>
		</div>

		<btn class="btn btn-xs btn-primary form-btn" ng-click="addResident()">Submit New Resident</btn>

		<div class="col-sm-12 row-top-buffer">
			<pre>{{newResident | json}}</pre>
		</div>

		<btn class="btn btn-xs btn-danger form-btn closeBtn" ng-click="toggleAddResidentForm()">Close</btn>
		
	</div>				
</div>